<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<array>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/CE/B2/A96F918F9FF674F4A86FFE4C221_AAB0A72A_63183.jpg</string>
				<key>newsTime</key>
				<string>2015年12月03日 11:15</string>
				<key>newsTitle</key>
				<string>学校召开十八届五中全会精神宣讲报告会</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14521.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/A/68/97/1933752D08902BEE7058DFF3410_6869E3A8_82DCD.png</string>
				<key>newsTime</key>
				<string>2015年11月18日 12:00</string>
				<key>newsTitle</key>
				<string>武体升腾的中国龙</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14411.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
			<dict>
				<key>newsImg</key>
				<string>http://news.whsu.edu.cn/__local/0/92/11/D6056AEEC715E12276B73A1FEA1_02A0B9EB_1CE0E.jpg</string>
				<key>newsTime</key>
				<string>2015年12月28日 17:58</string>
				<key>newsTitle</key>
				<string>武汉体育学院2016年新年晚会璀璨落幕</string>
				<key>newsContent</key>
				<string>http://news.whsu.edu.cn/info/1118/14707.htm</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
