<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mon</key>
	<array>
		<dict>
			<key>startTime</key>
			<string>8:00</string>
			<key>endTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>一</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>11:55</string>
			<key>startTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>二</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>14:55</string>
			<key>startTime</key>
			<string>13:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>三</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>14:30</string>
			<key>endTime</key>
			<string>15:55</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>四</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>17:40</string>
			<key>startTime</key>
			<string>16:15</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>五</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>19:00</string>
			<key>endTime</key>
			<string>23:50</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>六</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
	</array>
	<key>tue</key>
	<array>
		<dict>
			<key>startTime</key>
			<string>8:00</string>
			<key>endTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>一</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>11:55</string>
			<key>startTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>二</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>12:50</string>
			<key>endTime</key>
			<string>14:10</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>三</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>14:30</string>
			<key>endTime</key>
			<string>15:55</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>四</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>17:40</string>
			<key>startTime</key>
			<string>16:15</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>五</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>19:00</string>
			<key>endTime</key>
			<string>23:50</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>六</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
	</array>
	<key>wed</key>
	<array>
		<dict>
			<key>startTime</key>
			<string>8:00</string>
			<key>endTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>一</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>11:55</string>
			<key>startTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>二</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>12:50</string>
			<key>endTime</key>
			<string>14:10</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>三</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>14:30</string>
			<key>endTime</key>
			<string>15:55</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>四</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>17:40</string>
			<key>startTime</key>
			<string>16:15</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>五</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>19:00</string>
			<key>endTime</key>
			<string>23:50</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>六</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
	</array>
	<key>thurs</key>
	<array>
		<dict>
			<key>startTime</key>
			<string>8:00</string>
			<key>endTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>一</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>11:55</string>
			<key>startTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>二</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>12:50</string>
			<key>endTime</key>
			<string>14:10</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>三</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>14:30</string>
			<key>endTime</key>
			<string>15:55</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>四</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>17:40</string>
			<key>startTime</key>
			<string>16:15</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>五</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>19:00</string>
			<key>endTime</key>
			<string>23:50</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>六</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
	</array>
	<key>fri</key>
	<array>
		<dict>
			<key>startTime</key>
			<string>8:00</string>
			<key>endTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>一</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>11:55</string>
			<key>startTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>二</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>12:50</string>
			<key>endTime</key>
			<string>14:10</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>三</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>14:30</string>
			<key>endTime</key>
			<string>15:55</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>四</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>17:40</string>
			<key>startTime</key>
			<string>16:15</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>五</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>19:00</string>
			<key>endTime</key>
			<string>23:50</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>六</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
	</array>
	<key>sat</key>
	<array>
		<dict>
			<key>startTime</key>
			<string>8:00</string>
			<key>endTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>一</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>11:55</string>
			<key>startTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>二</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>12:50</string>
			<key>endTime</key>
			<string>14:10</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>三</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>14:30</string>
			<key>endTime</key>
			<string>15:55</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>四</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>17:40</string>
			<key>startTime</key>
			<string>16:15</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>五</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>19:00</string>
			<key>endTime</key>
			<string>23:50</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>六</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
	</array>
	<key>sun</key>
	<array>
		<dict>
			<key>startTime</key>
			<string>8:00</string>
			<key>endTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>一</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>11:55</string>
			<key>startTime</key>
			<string>10:30</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>二</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>12:50</string>
			<key>endTime</key>
			<string>14:10</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>三</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>14:30</string>
			<key>endTime</key>
			<string>15:55</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>四</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>endTime</key>
			<string>17:40</string>
			<key>startTime</key>
			<string>16:15</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>五</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
		<dict>
			<key>startTime</key>
			<string>19:00</string>
			<key>endTime</key>
			<string>23:50</string>
			<key>courseLocation</key>
			<string>东教学楼403</string>
			<key>courseOrder</key>
			<string>六</string>
			<key>courseName</key>
			<string>思修</string>
		</dict>
	</array>
</dict>
</plist>
